<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" to="/" href="#">Stock Trader</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <router-link to="/portfolio" activeClass="nav-item active" tag="li"><a class="nav-link">Portfolio</a></router-link>
                <router-link to="/stocks" activeClass="nav-item active" tag="li"><a class="nav-link">Stocks</a></router-link>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
            <li class="nav-item active"><a class="nav-link" href="#"
            @click="endDay"
            >End day</a></li>
            <li class="nav-item dropdown"
                :class="{show: !dropdown}"
                @click="dropdown = !dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   :aria-haspopup="{ dropdown }">Save & Load</a>
                <div class="dropdown-menu"
                     aria-labelledby="navbarDropdown"
                    :class="{show: !dropdown}">
                    <a class="dropdown-item" href="#" @click="saveData">Save Data</a>
                    <a class="dropdown-item" href="#" @click="loadData">Load Data</a>
                </div>
            </li>
        </div>
            <strong class="navbar-text navbar-right">Funds: {{ funds | currency }}</strong>
    </nav>
</template>

<script>
    import { mapActions } from 'vuex'
    export default {
        data() {
            return {
                dropdown: 'true'
            }
        },
        computed: {
            funds() {
                return this.$store.getters.funds
            }
        },
        methods: {
            ...mapActions({

                randomizeStocks: 'randomizeStocks',
                fetchData: 'loadData'
            }),
            endDay() {
                this.randomizeStocks();
            },
            saveData() {
                const data = {
                    funds: this.$store.getters.funds,
                    stockPortfolio: this.$store.getters.stockPortfolio,
                    stocks: this.$store.getters.stocks
                };
                this.$http.put('data.json', data)
            },
            loadData() {
                this.fetchData();
            }
        }
    }
</script>

<style scoped>

</style>